.card {
    background-color: #A0A4B8;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 500px;
    height: 312px;
    display: flex;
    justify-self: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.cardback {
    background-color: #D8DDEF;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}
    
.card p {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
}
.card h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
}